main {
    margin: .7em 0;
    gap: .7em;

    a {
        border: solid #080853;
        width: 90%;
        color: white;
        background-color: #4848cf;
        text-decoration: none;
        text-align: center;

        &:hover { background-color: #00ffff; }
    }
}

footer {
    text-align: center;
}