article, tags-textuais, tags-de-midia, outras-tags {
    display: flex;
    flex-direction: column;
  }
  article h2, article h3, tags-textuais h2, tags-textuais h3, tags-de-midia h2, tags-de-midia h3, outras-tags h2, outras-tags h3 {
    text-align: center;
  }
  article p, tags-textuais p, tags-de-midia p, outras-tags p {
    text-align: justify;
  }
  article pre, tags-textuais pre, tags-de-midia pre, outras-tags pre {
    width: 90%;
    background-color: #696969;
    color: white;
    align-self: center;
  }
  article iframe, tags-textuais iframe, tags-de-midia iframe, outras-tags iframe {
    height: min-content;
  }
  article img, article video, tags-textuais img, tags-textuais video, tags-de-midia img, tags-de-midia video, outras-tags img, outras-tags video {
    width: 45%;
    align-self: center;
  }